*.zip filter=lfs diff=lfs merge=lfs -text
*.ts linguist-vendored
*.bsv linguist-vendored
docs/* linguist-documentation
docsrc/* linguist-documentation
example_models/* linguist-vendored
installation/* linguist-vendored
bin/* linguist-vendored
