*.zip filter=lfs diff=lfs merge=lfs -text
*.ts linguist-vendored
*.bsv linguist-vendored
*.ipynb linguist-documentation
docs/* linguist-documentation
docsrc/* linguist-documentation
example_models/* linguist-vendored
installation/* linguist-vendored
bin/* linguist-vendored
src/pyMF6/Original_MF6/* linguist-vendored 
src/pyMF6/Original_MF6/mf6_1_0/* linguist-vendored 
src/pyMF6/Original_MF6/mf6_1_1/* linguist-vendored 
src/pyMF6/Original_MF6/mf6_2_0/* linguist-vendored 
src/pyMF6/Original_MF6/mf6_2_1/* linguist-vendored 
example_models/braat/* linguist-vendored 
*.h5 filter=lfs diff=lfs merge=lfs -text
*.ic filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.npf filter=lfs diff=lfs merge=lfs -text
*.sto filter=lfs diff=lfs merge=lfs -text
*.disv filter=lfs diff=lfs merge=lfs -text
