*.pyc
*.pyo
*.o
*~
src/.vscode/*
src/__pycache__/*
src/*.code-workspace
src/pyMF6/__pycache__/*
src/mHSP2/__pycache__/*
example_models/jupyter_notebooks/.ipynb_checkpoints/*
bin/__pycache__/*
bin/pyMF6/__pycache__/*
bin/mHSP2/__pycache__/*
docs/html/*
docs/doctrees/*
docsrc/.vscode/*

